<!DOCTYPE html>
<html lang="en">
  {% include 'head.html' %}
  <body class="min-vh-100 d-flex flex-column">
    
    {% include 'header.html' %}
    
    <main class="flex-grow-1">
      <div class="container-lg mt-3">

        <h1>Сайты</h1>
        
        <div class="table-responsive">
          <table class="table table-bordered table-hover text-nowrap" data-test="urls">
            <thead>
            <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Последняя проверка</th>
            <th>Код ответа</th>
            </tr>
            </thead>
            <tbody>
              {% for raw in table_raws %}
                <tr>
                  <td>{{raw['id']}}</td>
                  <td>
                      <a href="{{ url_for('url', id=raw['id']) }}">
                      {{raw['name']}}
                      </a>
                  </td>
                  <td>still not yet</td>
                  <td>still not yet</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </main>
    {% include 'footer.html' %}  
  </body>
</html>